@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/aux/ibm.ttf') format('truetype');
}

* {
  font-size:19px; font-weight:normal;
  font-family:'IBM Plex Mono', monospace;
  
  cursor:default; border:none;
       
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  
  /*** changes nothing but arrow on dropdown? */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.money {
  user-select:none;
  pointer-events:none;
  
  border:1px solid lime; 
  background:darkgreen; color:white;

  height:34px; width:75px;
  font-size:24px; text-align:center;

  padding-top:9px;
  margin:0; float:right;
}

.mnyInfo {
  user-select: none;
  pointer-events:none;
  
  /*border:1px solid lightgrey;*/
  
  background:none; color:grey;
  height:25px; width:75px; padding:0; 
  font-size:15px; text-align:right;
  
  margin:0; float:left;
}

.mnywon {
  border:1px solid lightgrey;  
}

.finf {  
  border:1px solid grey;
  margin:0; padding:2px 5px;    
  font-size:17px; text-align:center;
}

select {
  border:1px solid black; 
  float:right; position:relative;

  color:black; background-color:white;
  
  background-repeat:no-repeat;
  background-position:165px 12px;
  
  /*width: 14px; height: 10px;*/
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAAAAAChsjAbAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABiSURBVAjXY7g9YyIczLrPsFSAFQ6E1zK8CGGAAcboNwz/L+nCuMbX/zP8/79WFMKT3PofxP3VyAbicXT+BnP/vwkFaYx9/x/C/X/ZgIHB7MZ/GPf/egnpHf8R3F9LV/8GMwCB7ki6QhNZYQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wMi0wN1QwMToyOTo0MiswMTowMJjxtHMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDItMDdUMDE6Mjk6NDIrMDE6MDDprAzPAAAAAElFTkSuQmCC);
 
  font-size:20px;
  width:190px; text-align-last:center; 
  padding:4px 22px 4px 4px; margin:0;

  /*** Removes default arrow from firefox ...or not?*/
  text-indent:1px; text-overflow:'';
}

#timeTxt {
  position:relative;
  float:left; top:12px; 
  
  padding-left:5px;
  text-align:center; font-size:19px;   
}

.ord {
  border:1px solid black;
  padding:5px 20px;
  width:auto; height:40px;
  color:black; background:#eeeeee;
  margin-bottom:9px; font-size:17px;
}

.ord:disabled {
  border-color:lightgrey;
  color:lightgrey; background:white;
}
.ord:hover {
  background:white;
}

.ord2 {
  border:1px solid black;
  width:140px; height:35px;
  color:white; background:grey;
  margin-top:9px; font-size:15px;
}
.ord2:hover {
  background:#5f5f5f;
}
.ord2:disabled {
  border-color:lightgrey;
  color:#aaaaaa; background:#5f5f5f;
}

.mnu { 
  float:right;  
  width:50px; height:40px;

  color:white; background:black;
  margin-left:-2px;
  padding:9px 0 0 0;
}
.mnu:hover {
  background:grey;
}
.mnu:active {
  color:black; background:white; 
}

.mtb.act {
  border:none;
  height:45px; padding:1px 15px;
  color:black; background:white;
  margin-bottom:-2px; margin-right:-10px;
}

.mtb.dea {
  border:none;
  height:38px; padding:1px 15px;
  color:#444444; background:#eeeeee;
  vertical-align:bottom; margin-right:-10px;
}

.ptab.pde {
  display:none;  
}

table {
  width:100%; 
  position:relative;
  table-layout:fixed;
  
  user-select:none;
  border-collapse:collapse;
}

th {
  padding:9px 5px;
  text-align:center;
  font-size:15px; font-weight:bold;
}

td {
  font-size:17px; padding:5px;
}

#htb td {
  font-size:15px;
}

#htb tr.selected,
#ptb tr.selected { /*:not(.already){ orange */
  color:white; background:grey;
}

#ptb tr.already {
  color:white; background:#555555;
}

#htb tr.clean,
#ptb tr.clean { /*:not(.selected) { */
  color:black; background:white;
}

#htb tr:nth-child(odd):not(.clean):not(.selected),
#ptb tr:nth-child(odd):not(.clean):not(.selected) { 
  background:#f0f0f0;
}
