/* s27b*/
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/aux/ibm.ttf') format('truetype');
}

* {
  font-size:19px; font-weight:normal;
  font-family:'IBM Plex Mono', monospace;
  
  border:0; outline:0;
  margin:0; padding:0;
  cursor:default; user-select:none;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

::-webkit-scrollbar {
    -webkit-appearance:none;
}
::-webkit-scrollbar:vertical {
    width:20px;
}
::-webkit-scrollbar:horizontal {
    height:0;
}
::-webkit-scrollbar-thumb {
  background:lightgrey;
  border:1px solid black;
}
::-webkit-scrollbar-track {
  background:none;
  border:5px solid white;
}

.finf {
  border:1px solid grey;
  margin:5px 0 9px 0; padding:3px 5px;
  font-size:17px; text-align:center;
}

.clPinf {
  color:black;
  width:23%; background:Cornsilk;
  user-select:text; resize:none;
  font-size:17px; text-align:center;
  margin:5px 0 9px 0; padding:3px 5px;
  border:1px solid red;
}
.clPinf2 {
  color:black;
  width:23%; background:Cornsilk;
  user-select:text; resize:none;
  font-size:17px; text-align:center;
  margin:5px 0 9px 0; padding:3px 5px;
  border:1px solid red;
}
.clPinf:disabled,
.clPinf2:disabled {
  color:black !important;
  background:white !important;
  border:1px solid darkblue !important;
}

.ord {
  border:1px solid black;
  padding:5px 20px;
  width:auto; height:40px;
  color:black; background:#eeeeee;
  margin-bottom:9px; font-size:17px;
}
.ord:disabled {
  border-color:lightgrey;
  color:lightgrey; background:white;
}
.ord:hover {
  background:white;
}

.ord2 {
  border:1px solid black;
  width:140px; height:35px;
  color:white; background:grey;
  margin-top:9px; font-size:15px;
}
.ord2:hover {
  background:#5f5f5f;
}
.ord2:disabled {
  border-color:lightgrey;
  color:#aaaaaa; background:#5f5f5f;
}

.ord3 {
  border:1px solid lightgrey;
  /*width:auto;*/ height:40px;
  padding:7px 25px;
  color:white; background:#5f5f5f;
  margin:0 3px 15px 5px; font-size:15px;
}
.ord3:hover {
  background:#909090;
}
.ord3:disabled {
  border-color:grey;
  color:#aaaaaa; background:#2f2f2f;
}

.mnu { 
  float:right;  
  width:auto; height:35px;
  color:white; background:none;
  margin-top:3px;
  padding:1px 19px 0;
  font-size:17px;
  letter-spacing:2px;
/*  font-weight:bold;*/
  border:1px solid lightgrey;
}
  
.mnu:hover {
  background:grey;
}
.mnu:active {
  color:black; background:white; 
}

.mtb.act {
  border:none;
  height:45px; padding:1px 15px;
  color:black; background:white;
  margin-bottom:-2px; margin-right:-10px;
}
.mtb.dea {
  border:none;
  height:38px; padding:1px 15px;
  color:#444444; background:#eeeeee;
  vertical-align:bottom; margin-right:-10px;
}

.ptab.pde {
  display:none; pointer-events:none;
}

table {
  width:652px;
  table-layout:fixed;
  border-collapse:collapse;
  background:white;
}
th {
  padding:9px 5px;
  text-align:center;
  font-size:15px; font-weight:bold;
}
td {
  overflow:hidden;
  font-size:17px; padding:5px 9px;
  text-overflow:ellipsis; line-height:17px;
}
#htb td {
  white-space:pre;
  font-size:15px; font-weight:500;
}
#htb tr.selR, #ptb tr.selR {
  color:white; background:#7f7f7f;
}
#htb tr.clnR, #ptb tr.clnR {
  color:black; background:white;
}
#htb tr:nth-child(odd):not(.clnR):not(.selR),
#ptb tr:nth-child(odd):not(.clnR):not(.selR) { 
  background:#f0f0f0;
}
